@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
}

:root {
  --background-color: rgb(59, 58, 58);
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: #3b3a3a;
  width: 100%;
}

nav {
  background: #ada9a9;
  height: 80px;
  width: 100%;
}

nav url {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.move.home,
a:hover {
  /* box grow a bit and change color when hover */
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.move.about,
a:hover {
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.move.portfolio,
a:hover {
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.move.blog,
a:hover {
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.move.contact,
a:hover {
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

footer {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  margin: 10px;
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  nav {
    height: 160px;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.computer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  border-radius: 2%;
}

#profile {
  text-align: center;
  margin: 0 auto;
  padding: 2px;
}

.introduction {
  text-align: center;
  margin: 0 auto;
  padding: 2px;
}

@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
  .introduction {
    margin: 50px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  h1 {
    font-size: 1em;
  }
}

#big-box {
  margin: 2px;
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myphoto {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: left;
  margin: 0;
  padding: 0;
}

#myphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: right;
      align-self: right;
  float: right;
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
}

.about-box {
  margin: 10px;
}

.my-history p {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  display: block;
  background-color: #eeeaea;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 3px 6px #3b3a3a;
          box-shadow: 3px 6px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  padding: 7px;
}

.my-interestes p {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  display: block;
  background-color: #eeeaea;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 3px 6px #3b3a3a;
          box-shadow: 3px 6px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  padding: 7px;
}

.article p {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .myphoto {
    width: 50px;
    height: 50px;
    -ms-flex-line-pack: right;
        align-content: right;
    margin: 0;
    padding: 0;
  }
  .article h1 {
    text-align: left;
    font-size: 1em;
    margin: 0;
  }
  .my-history p {
    margin: auto;
  }
  .my-interestes p {
    margin: auto;
    padding: 20px;
  }
}

h1 {
  margin: 30px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
}

.icon img {
  display: block;
  width: 150px;
  height: 150px;
}

.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
  margin: 80px;
}

@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
  .icon img {
    height: 150px;
    width: 150px;
    border-radius: 4px;
  }
  .my-work {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 30px;
  }
  .my-work a {
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .icon img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
  }
  .my-work {
    margin: 30px;
  }
  .my-work a {
    margin: 20px;
  }
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 2px solid blue;
}

.bb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% 1.5em);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-container {
  text-align: center;
}

.header {
  text-align: center;
  height: 4em;
  line-height: 4em;
}

.image-blog {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  header h1 {
    text-align: center;
  }
}

h1 {
  margin: 50px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 100%;
  border: 2px #3b3a3a;
  border-radius: 3%;
  background-color: #cac6c6;
  padding: 30px;
  margin: auto;
}

input[type=text] {
  width: 100%;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3b3a3a;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #3b3a3a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: black;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: -167px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */