@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
}

:root {
  --background-color:rgb(59, 58, 58);
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: #3b3a3a;
}

nav {
  background: #ada9a9;
  height: 80px;
  width: 100%;
}

nav url {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.move.home, a:hover {
  /* box grow a bit and change color when hover */
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.about, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.portfolio, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.blog, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.contact, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

h1 {
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

footer {
  color: #3b3a3a;
  font-style: italic;
  margin: 10px;
  position: fixed;
  bottom: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#computer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 2%;
}

@media (max-width: 858px) {
  .ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 80px;
  }
  .nav ul li {
    display: inline-block;
    font-size: 20px;
  }
}

.my-photo {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
}

.aboutbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: left;
}

#myphoto {
  /* style the element with the id "photo" */
  width: 150px;
  height: 150px;
  border: 5px;
  padding: 5px;
  border-radius: 50%;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  -webkit-box-shadow: 2px 3px #3b3a3a;
          box-shadow: 2px 3px #3b3a3a;
  float: right;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
  padding: 10px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-history {
  display: block;
  background-color: white;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 3px 6px #3b3a3a;
          box-shadow: 3px 6px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-interestes {
  display: block;
  background-color: white;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 3px 6px #3b3a3a;
          box-shadow: 3px 6px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  margin: 30px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
}

.icon img {
  display: block;
  width: 150px;
  height: 150px;
}

.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
  margin: 80px;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 2px solid blue;
}

.sand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.whale-container {
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.leaf-container {
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.mountain-container {
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.beach-container {
  width: 400px;
  max-width: 100%;
  border: 2px solid pink;
  margin: 5px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% 1.5em);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-container {
  text-align: center;
}

.header {
  text-align: center;
  height: 4em;
  line-height: 4em;
}

.image-1 {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-2 {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-4 {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-5 {
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 50px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 100%;
  border: 2px #3b3a3a;
  border-radius: 3%;
  background-color: #cac6c6;
  padding: 30px;
  margin: auto;
}

input[type=text] {
  width: 100%;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3b3a3a;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #3b3a3a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: black;
}
/*# sourceMappingURL=main.css.map */