@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: #3b3a3a;
}

nav {
  background: #cfcccc;
  height: 80px;
  widht: 100%;
}

nav url {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.move.home, a:hover {
  /* box grow a bit and change color when hover */
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.about, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.portfolio, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.blog, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

a.move.contact, a:hover {
  background: #706f6f;
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

h1 {
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
}

footer {
  color: #3b3a3a;
  font-style: italic;
  margin: 10px;
  position: fixed;
  bottom: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#computer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 2%;
}

@media (max-width: 858px) {
  nav ul li {
    display: inline-block;
    font-size: 20px;
  }
}

.my-photo {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
}

p {
  border: 10px;
  padding: 10px;
}

.aboutbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: left;
}

/* style the element with the id "photo" */
#myphoto {
  width: 150px;
  height: 150px;
  border: 5px;
  padding: 5px;
  border-radius: 50%;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  -webkit-box-shadow: 2px 3px #3b3a3a;
          box-shadow: 2px 3px #3b3a3a;
  float: right;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
  padding: 10px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-history {
  display: block;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 2px 3px #3b3a3a;
          box-shadow: 2px 3px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-interestes {
  display: block;
  border: 2px solid #3b3a3a;
  -webkit-box-shadow: 2px 3px #3b3a3a;
          box-shadow: 2px 3px #3b3a3a;
  border-radius: 3%;
  margin: 30px;
  width: 90%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  margin: 30px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  margin: 50px;
  padding: 0;
}

.html {
  border: 2px solid #3b3a3a;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2px 3px #3b3a3a;
          box-shadow: 2px 3px #3b3a3a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#html-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

#css-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

#sass-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
  margin: 80px;
}

main {
  height: 100%;
}

#blog {
  height: 500vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  padding: 0;
}

.image-1 {
  height: 400px;
  width: 400px;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-2 {
  height: 400px;
  width: 400px;
  margin: 20px;
}

.image-3 {
  height: 400px;
  width: 400px;
  margin: 20px;
}

.image-4 {
  height: 400px;
  width: 400px;
  margin: 20px;
}

.image-5 {
  height: 400px;
  width: 400px;
  margin: 20px;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-box {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px;
  padding: 30px;
  border: 30px red;
}
/*# sourceMappingURL=main.css.map */