
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a39c87;
  font-style: italic;
  text-align: center;
  font-size: 4em;
}
/* menu {

}
menu div {
} */
.box {
  width: 100px;
  height: 35px;
  border: 5;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  border-radius: 5%;
  transition: width 1s, height 1s;
}
.box:hover {
  background-color: #a39c87;
  width: 160;
  height: 30px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 2%;
}
footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(59, 58, 58);
  font-style: italic;
}






