
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a39c87;
  font-style: italic;
  text-align: center;
  font-size: 50px;
}
.container-1 {
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  justify-content: space-around;

  /* text-align: center; */
}
.a {
  text-align: center;
}
.container-1 div {
  border: 2px black solid;
  padding:10px;
  width: 200px;
  /* flex-basis: 20%; */
  margin: 20px;
}
.box1 {
  width: 100%;
  height: 30px;
  padding: 5;
  background: #a39c87;
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  flex: 1;
}
.box2 {
  flex: 1;
}
.box3 {
  flex: 1;
}
.box4{
  flex: 1;
}



