h1 {
  margin: 30px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 50px 0;
}
.icon img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
a img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
.my-work {
display: flex;
justify-content: space-evenly;
padding: 50px 0;
}
//  responsive media queries
@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
  .icon img {
    height: 150px;
    width: 150px;
    border-radius: 4px;
    padding: 20px;
  }
  .my-work a img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile: */
  .icon img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    margin: 5px;
  }
  .my-work a img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    padding: 5px;
  }
}
