* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: solid 1px black;
}
:root {
  --background-color: rgb(59, 58, 58);
}
body {
  // my base style for all pages
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: rgb(59, 58, 58);
  width: 100%;
}
nav {
  background: rgb(173, 169, 169);
  height: 80px;
  width: 100%;
}
nav url {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}
a.move.home,
a:hover {
  /* box grow a bit and change color when hover */
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
a.move.about,
a:hover {
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
a.move.portfolio,
a:hover {
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
a.move.blog,
a:hover {
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
a.move.contact,
a:hover {
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
h1 {
  @include box-font;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 0;
}
footer {
  @include box-font;
  margin: 10px;
  position: fixed;
  bottom: 0;
}
// @media only screen and (min-width: 601px - 768px) {
//   /* For tablets: */
// }
@media only screen and (max-width: 600px) {
  /* For mobile: */
  nav {
    height: 160px;
  }
}