 #myphoto {
  width: 100px;
  height: 100px;
  margin: 20px 145px;
  border-radius: 50%;
}
.top-box h1 {
  display: block;
  text-align: left;
  font-size: 20px;
}
h1 {
  margin: 0;
}
.my-history p {
  @include box-font;
  @include article-box;
  font-size: 1em;
  padding: 7px;
  margin: auto;
}
.my-interestes p {
  @include box-font;
  @include article-box;
  font-size: 1em;
  padding: 7px;
  margin: auto;
}
.article p {
  @include box-font;
  font-size: 3em;
 }
//  responsive media queries
@media only screen and (min-width: 768px) {
  /* For tablets: */
  #myphoto {
    margin: 20px 200px;
  }
}
@media only screen and (min-width: 992px) {
/* for desktop */
#big-box {
  margin: 2px;
}
.top-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
  height: 200px;
}
h1 {
  text-align: left;
  font-weight: bold;
}
#myphoto {
  width: 150px;
  height: 150px;
  margin: 20px 200px;
  border-radius: 50%;
}
.about-box {
  margin: 10px;
  padding: 30px;
}
.article p {
  @include box-font;
  font-size: 3em;
 }
}