#big-box {
  // box include all sections
  margin: 2px;
}
.top-box {
  // this box display my name and photo
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
  height: 200px;
}
h1 {
  text-align: left;
  font-weight: bold;
}
#myphoto {
  width: 150px;
  height: 150px;
  margin: 20px 200px;
  border-radius: 50%;
}
.about-box {
  margin: 10px;
  padding: 30px;
}
.my-history p {
  @include box-font;
  @include article-box;
  font-size: 1em;
  padding: 7px;
}
.my-interestes p {
  @include box-font;
  @include article-box;
  font-size: 1em;
  padding: 7px;
}
.article p {
  @include box-font;
  font-size: 3em;
}
//  responsive media queries
@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
  #myphoto {
    margin: 20px 60px;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile: */
  #myphoto {
    margin: 20px;
  }
  .top-box h1 {
    display: block;
    text-align: left;
    font-size: 20px;
  }
  h1 {
    margin: 0;
  }
  .my-history p {
    margin: auto;
  }
  .my-interestes p {
    margin: auto;
  }
}
