.computer {
  display: block;
  width: 100%;
}
.computer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 3%;
}
#profile {
  text-align: center;
  margin: 40px auto;
  padding: 2px;
}
.introduction {
  text-align: center;
  padding: 30px;
}
//  responsive media queries
@media only screen and (min-width: 768px) {
  /* For tablets: */
  .introduction {
    margin: 50px;
    padding: 10px;
  }
}
@media only screen and (min-width: 992px) {
  /* for desktop */
}
