.computer img {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  border-radius: 2%;
}
#profile {
  text-align: center;
  margin: 40px auto;
  padding: 2px;
}
.introduction {
  text-align: center;
  padding: 30px;
}
//  responsive media queries
@media only screen and (min-width: 768px) {
  /* For tablets: */
  .introduction {
    margin: 50px;
    padding: 10px;
  }
}
@media only screen and (min-width: 992px) {
  /* for desktop */
  .computer img {
    width: 80%;
    margin: auto;
  }
}
