// * {
//   margin: 0;
//   padding: 0;
//   text-decoration: none;
//   box-sizing: border-box;
//   border: solid 1px black;
// }
:root {
  --background-color: rgb(59, 58, 58);
}
body {
  // my base style for all pages
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: rgb(59, 58, 58);
  width: 100%;
  margin: 0;
}
nav {
  background: rgb(173, 169, 169);
  height: 80px;
  width: 100%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
}
nav ul li a {
  color: white;
  padding: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
}
nav ul li:hover {
  /* box grow a bit and change color when hover */
  background: rgb(112, 111, 111);
  transition: 0.5s;
}
h1 {
  @include box-font;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
h3 {
  @include box-font;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}
article {
  padding: 20px 0;
}
footer {
  @include box-font;
  padding: 0 10px;
  width: 100%;
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: white;
}
// @media only screen and (min-width: 601px - 768px) {
//   /* For tablets: */
// }
@media only screen and (max-width: 600px) {
  /* For mobile: */
  nav {
    height: 160px;
  }
}
