@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");
:root {
  --background-color: rgb(59, 58, 58);
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/marble.jpg");
  height: 100vh;
  background-size: cover;
  color: #3b3a3a;
  width: 100%;
  margin: 0;
}

nav {
  background: #ada9a9;
  height: 80px;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
}

nav ul li a {
  color: white;
  padding: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
}

nav ul li:hover {
  /* box grow a bit and change color when hover */
  background: #706f6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

article {
  padding: 20px 0;
}

footer {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  nav {
    height: 160px;
  }
}

h1 {
  margin: 30px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3b3a3a;
  font-style: italic;
  text-align: center;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 50px 0;
}

.icon img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

a img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0;
}

@media only screen and (min-width: 601px) and (max-width: 769px) {
  /* For tablets: */
  .icon img {
    height: 150px;
    width: 150px;
    border-radius: 4px;
    padding: 20px;
  }
  .my-work a img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .icon img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    margin: 5px;
  }
  .my-work a img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    padding: 5px;
  }
}
/*# sourceMappingURL=portfolio.css.map */